.header {
  // position: sticky;
  top: 0;
  z-index: 9999;
  height: 50px;
  @include desktop {
    height: 85px;
  }
  .row {
    margin: 0;
  }

  .col {
    padding-left: 0;
    padding-right: 0;
  }

  &__menu {
    display: none;
    @include tablet {
      display: block;
    }
    background: $color-black;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      list-style-type: none;
      margin-bottom: 0;
      margin: 5px 0;
    }
    li {
      padding: 0 10px;
    }
    a {
      color: $color-white;
      font-size: 0.5rem;
      font-weight: bold;
      @include desktop {
        font-size: 0.8rem;
      }
    }
    .sub-menu {
      display: none;
      position: absolute;
      li {
        margin-left: 0 !important;
      }
      > ul {
        display: none !important;
      }
    }
  }
  &__container {
    text-align: start;
    padding: 0;
    display: none;
    @include tablet {
      display: block;
    }
  }

  .header__logo &__phone,
  .header__logo &__user,
  .header__logo &__cart {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: 8px;
    img {
      width: 40px;
      height: 70%;
      margin: 2px auto;
    }
    span {
      display: block;
      margin: 0 auto;
      font-weight: bold;
      text-align: center;
      font-size: 0.8rem;
    }
    a {
      color: black;
    }
  }

  .header__logo &__user,
  .header__logo &__cart {
    display: block;
    text-align: center;
  }

  &__logo {
    text-align: center;
    padding: 0;
    img {
      width: 65px;
      height: 100%;
      @include tablet {
        width: 85px;
        height: 100%;
      }
    }
    .container {
      padding: 0;
    }
    &-img {
      position: relative;
      @include desktop {
        position: initial;
      }
    }
  }
  &__search-bar {
    .search {
      width: 100%;
      position: relative;
    }

    .searchTerm {
      float: left;
      width: 100%;
      border: 3px solid #00b4cc;
      padding: 5px;
      height: 40px;
      border-radius: 5px;
      outline: none;
      color: #9dbfaf;
      padding-left: 10px;
    }

    .searchTerm:focus {
      color: #00b4cc;
    }

    .searchButton {
      position: absolute;
      right: -33px;
      width: 40px;
      height: 40px;
      border: 1px solid #00b4cc;
      background: #00b4cc;
      text-align: center;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      font-size: 20px;
      &:focus {
        outline: none;
      }
    }
    /*Resize the wrap to see the search bar change!*/
    .wrap {
      width: 80%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__bar {
    position: absolute;
    // left: 0;
    display: block;
    padding: 0;
    top: 20px;
    // left: 15px;
    text-align: start;
    z-index: 2000;
    @include tablet {
      display: none;
    }
    .bm-burger-button {
      button {
        width: 40px !important;
        padding-left: 15px !important;
      }
    }
    i {
      padding-left: 15px;
    }
  }
  &__sidebar {
    left: 15px;
  }
}

.sticky {
  position: fixed;
  // @include desktop {
  //   position: fixed;
  // }
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 11111;
  background: $color-light-grey;
  ul {
    padding-top: 5px;
    margin-top: -15px;
    @include tablet {
      margin-top: -90px;
      margin-left: 7%;
    }
    @include desktop {
      margin-top: -70px;
      margin-left: 7%;
    }
    li {
      padding: 0 5px;
      @include desktop {
        padding: 0 10px;
      }
      a {
        color: black;
        font-weight: bold;
        @include tablet {
          font-size: 10px;
        }
        @include desktop {
          font-size: 0.7rem;
        }
      }
    }
  }
  .header {
    &__container {
      // display: none;
      visibility: hidden;
    }
    &__logo {
      img {
        width: 50px;
        height: 50px;
      }
      &-img {
        @include desktop {
          // margin-left: -5%;
        }
      }
    }
    &__menu {
      background: transparent;
    }
    &__bar {
      top: 15px;
    }
    &__logoBlock {
      @include tablet {
        margin-left: -10%;
      }
      @media only screen and (min-width: 1025px) {
        margin-left: 0;
      }
    }
    // &__cart {
    //   visibility: visible;
    //   position: absolute;
    //   right: 0;
    //   z-index: 1111;
    //   @include desktop {
    //     right: -10%;
    //   }
    //   @include large-desktop {
    //     right: 0%;
    //   }
    //   span {
    //     // display: none;
    //     visibility: hidden;
    //   }
    // }
  }
}
